html {
	box-sizing: border-box;
  font-size: 2em;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Noto Sans JP', sans-serif;
}

input {
  width: 100%;
  border: none;
  font-size: 1em;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

ul li {
  cursor: pointer;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.closeBtn {
  position: absolute;
  right: 0;
}

.container {
  width: 40%;
  display: flex;
  margin: 0 auto;
}

.containerHeader {
  padding-top: 10%;
  padding-bottom: 1%;
}

.containerList {
  flex-direction: column;
}

.done {
  text-decoration: line-through;
}

#add {
  cursor: pointer;
  padding-right: 5px;
  padding-top: 5px;
}
